<%-include('../../partials/header.ejs') %>
<%-include('../../partials/navbar.ejs') %>
<div class="container">
  <hr />
  <h2>Usuarios</h2>
  <a class="btn btn-success" href="/admin/users/create">Criar Novo Usuario</a>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Acoes</th>
      </tr>
    </thead>
    <tbody>
      <%users.forEach(user => {%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <th>
          <a href="/admin/users/edit/<%= user.id%>" class="btn btn-warning"
            >Editar</a
          >
          <form
            method="POST"
            action="/users/delete"
            style="display: inline"
            onsubmit="confirmarExclusao(event, this)"
          >
            <input type="hidden" name="id" value="<%=user.id%>" />
            <button class="btn btn-danger">Apagar</button>
          </form>
        </th>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>

<%-include('../../partials/footer.ejs') %>

<script>
  function confirmarExclusao(event, form) {
    event.preventDefault();
    var decision = confirm("Deseja realmente excluir esta categoria?");
    if (decision) {
      form.submit();
    }
  }
</script>
